@font-face {
	font-family: 'GreatLakesNF';
    font-style: normal;
	src: url('./../assets/fonts/GreatLakesNF.ttf');
}

@font-face {
	font-family: 'Jenna';
    font-style: normal;
	src: url('./../assets/fonts/JennaSue.ttf');
}