.egg-div {
    width: 25%;
    min-width: 303px;
    max-width: 350px;
    margin-bottom: 20px;
}

.egg {
    background-color: #00000073;
    width: 299px;
    height: 299px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D6D6D8;
    position: relative;
}

.egg .main {
    width: 295px;
    height: 295px;
}

.egg.lockable .main {
    width: 295px;
    height: 295px;
    opacity: 0.5;
}

.description {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 30px;
}

.description img {
    width: 100px;
}